<%= form_with(model: apartment, local: true, html: { multipart: true }) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_area :street, id: :apartment_street %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :apartment_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :apartment_longitude %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_area :city, id: :apartment_city %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_area :zip, id: :apartment_zip %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_area :state, id: :apartment_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_area :country, id: :apartment_country %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :apartment_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_area :phone, id: :apartment_phone %>
  </div>

  <div class="field">
    <%= form.label :hours_contact %>
    <%= form.text_area :hours_contact, id: :apartment_hours_contact %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
