<p id="notice"><%= notice %></p>

<h1>Apartments</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th>Country</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Hours contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.street %></td>
        <td id="latitude"><%= apartment.latitude %></td>
        <td id="longitude"><%= apartment.longitude %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.zip %></td>
        <td><%= apartment.state %></td>
        <td><%= apartment.country %></td>
        <td><%= apartment.name %></td>
        <td><%= apartment.phone %></td>
        <td><%= apartment.hours_contact %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>

<div id="map" ></div>

<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });
        var results = [map.data.loadGeoJson('apartments.json')];
        placeMarkers(results);
}


      // Loop through the results array and place a marker for each
      // set of coordinates.
      function placeMarkers(results) {
        for (var i = 0; i < results.length; i++) {
          var lat = latitude
          var long = longitude
          var latLng = new google.maps.LatLng(lat,long);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCMfaPWYWnpgZUOjY_I-tO24lgVbP4XG4&callback=initMap">
    </script>
