<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @apartment.street %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @apartment.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @apartment.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @apartment.zip %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @apartment.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @apartment.phone %>
</p>

<p>
  <strong>Hours contact:</strong>
  <%= @apartment.hours_contact %>
</p>

<p>
  <%= link_to image_tag(@apartment.image.url(:large)), @apartment.image.url %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #showmap {
    height: 50vh;
    width: 50vw;
  }
</style>

<input id="address" type="hidden" value="<%= @apartment.street %>,<%= @apartment.city %>,<%= @apartment.state %>,<%= @apartment.zip %>">

<div id="showmap"></div>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('showmap'), {
    zoom: 12,
    center: {lat: 32.70961, lng: -117.1579991}
  });

  var geocoder = new google.maps.Geocoder();
  // document.getElementById('submit').addEventListener('click',
  function geocodeme() {
    geocodeAddress(geocoder, map);
  };
  geocodeme()
}

function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nhXMWs8RXF_OXTGrVAB7x-msZVhahGw&callback=initMap">
</script>
