<!DOCTYPE html>
<html>
  <head>
    <title>Apartmentapp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }


    </style>

  </head>

  <body>
    <ul class="hmenu">
  <%= render partial: 'devise/shared/menu' %>

  </ul>

    <%= yield %>


    <!-- <script src="script.js" defer></script> -->
  </body>
</html>
